.slick-prev:before {
    content: "<";
    color: black;
    font-size: 25px;
    font-weight: bold;
  }
  
.slick-next:before {
    content: ">";
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
  }